# Gradle
.gradle/
build/
**/build/

# Android Studio
.idea/
*.iml
*.iws
*.ipr
*.iws

# Local files
local.properties
.DS_Store
.cxx/
.externalNativeBuild/
.kotlin/
*.log

# Build outputs
*.apk
*.aar
*.aab
